In [4]:
# 아래 데이터를 사용합니다. 
import pandas as pd

# Load the Wine Quality Dataset from UCI ML Repository
url_red_wine = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv"
url_white_wine = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv"

red_wine_data = pd.read_csv(url_red_wine, sep=';')

= pd.read_csv(url_white_wine, sep=';')

display(red_wine_data.head().T)
display(white_wine_data.head().T)

                            0        1       2       3        4
fixed acidity          7.4000   7.8000   7.800  11.200   7.4000
volatile acidity       0.7000   0.8800   0.760   0.280   0.7000
citric acid            0.0000   0.0000   0.040   0.560   0.0000
residual sugar         1.9000   2.6000   2.300   1.900   1.9000
chlorides              0.0760   0.0980   0.092   0.075   0.0760
free sulfur dioxide   11.0000  25.0000  15.000  17.000  11.0000
total sulfur dioxide  34.0000  67.0000  54.000  60.000  34.0000
density                0.9978   0.9968   0.997   0.998   0.9978
pH                     3.5100   3.2000   3.260   3.160   3.5100
sulphates              0.5600   0.6800   0.650   0.580   0.5600
alcohol                9.4000   9.8000   9.800   9.800   9.4000
quality                5.0000   5.0000   5.000   6.000   5.0000

                            0        1        2         3         4
fixed acidity           7.000    6.300   8.1000    7.2000    7.2000
volatile acidity        0.270    0.300   0.2800    0.2300    0.2300
citric acid             0.360    0.340   0.4000    0.3200    0.3200
residual sugar         20.700    1.600   6.9000    8.5000    8.5000
chlorides               0.045    0.049   0.0500    0.0580    0.0580
free sulfur dioxide    45.000   14.000  30.0000   47.0000   47.0000
total sulfur dioxide  170.000  132.000  97.0000  186.0000  186.0000
density                 1.001    0.994   0.9951    0.9956    0.9956
pH                      3.000    3.300   3.2600    3.1900    3.1900
sulphates               0.450    0.490   0.4400    0.4000    0.4000
alcohol                 8.800    9.500  10.1000    9.9000    9.9000
quality                 6.000    6.000   6.0000    6.0000    6.0000

# 1. one-sample t-test 검정

In [8]:
import numpy as np

In [5]:
from scipy.stats import ttest_1samp
import scipy.stats as stats

In [7]:
red_wine_data['citric acid'].mean()

0.2709756097560976

In [6]:
# 귀무가설: red_wine_data의 citric acid 변수의 평균이 귀무 가설 평균(5)과 통계적으로 유의미한 차이가 없다. 
# 대립가설: 통계적으로 유의미한 차이가 있다.

In [11]:
# 1) 검정할 변수를 지정하세요. 
variable_of_interest_red = red_wine_data['citric acid']

# One-Sample t-Test
# 2) alpha라는 변수에 신뢰도 95%의 유의수준을 지정하세요.
alpha = 0.05

null_hypothesis_mean = 5  # 귀무가설 평균
t_statistic, p_value = ttest_1samp(variable_of_interest_red, null_hypothesis_mean)

print("One-Sample t-Test for Red Wine:")
print("T-statistic:", t_statistic)
print("P-value:", p_value)

One-Sample t-Test for Red Wine:
T-statistic: -970.7430669265271
P-value: 0.0

In [12]:
# Degrees of freedom (df) for a one-sample t-test is (n - 1), where n is the sample size
df = len(variable_of_interest_red) - 1

# Find the critical value for a two-tailed test
critical_value = stats.t.ppf(1 - alpha/2, df)
print("Critical Value:", critical_value)

# 3) 아래 문장을 완성하세요. 
if p_value < alpha:
    print("귀무가설 (기각한다). 통계적으로 유의미한 (차이)가 있다.")
else:
    print("귀무가설 (기각할 수 없다). 통계적으로 유의미한 (차이)가 없다.")

Critical Value: 1.9614496156420809
귀무가설 (기각한다). 통계적으로 유의미한 (차이)가 있다.

# 2. two-sample t-test 검정

In [15]:
# 귀무가설: red_wine의 'citric acid' 변수와 white_wine의 'citric acid' 변수의 평균이 통계적으로 유의미한 차이가 없다. 
# 대립가설: 통계적으로 유의미한 차이가 있다. 


# 1) two-sample t-test를 수항하기 위한 라이브러리를 불러오세요. 
from scipy.stats import ttest_ind

import scipy.stats as stats 

# Two-Sample t-Test
# 2) 적합한 변수를 지정하세요. 
variable_of_interest_red = red_wine_data['citric acid']
variable_of_interest_white = white_wine_data['citric acid']

t_statistic, p_value = ttest_ind(variable_of_interest_red, variable_of_interest_white)
print("\nTwo-Sample t-Test:")
print("T-statistic:", t_statistic)
print("P-value:", p_value)

Two-Sample t-Test:
T-statistic: -15.374954114170604
P-value: 2.0037357017957886e-52

In [16]:
# 3) 신뢰도 99%의 유의수준을 지정하세요 
alpha = 0.01

# Degrees of freedom (df) for a two-sample t-test is (n1 + n2 - 2), where n1 and n2 are the sample sizes of the two groups
df = len(variable_of_interest_red) + len(variable_of_interest_white) - 2

# Find the critical value for a two-tailed test
critical_value = stats.t.ppf(1 - alpha/2, df)
print("Critical Value:", critical_value)

# 4) 아래 문장을 완성하세요. 
if p_value < alpha:
    print("귀무가설 (기각한다). 통계적으로 유의미한 (차이)가 있다.")
else:
    print("귀무가설 (기각하지 못 한다). 통계적으로 유의미한 (차이)가 없다.")

Critical Value: 2.576586487248215
귀무가설 (기각한다). 통계적으로 유의미한 (차이)가 있다.

# 3. chi-square 검정

In [18]:
# 데이터 로드

# chi-square 검정 구현하기 
# 귀무가설: red_wine의 'quality'와 white_wine의 'alcohol'이 연관성이 없다. 

import pandas as pd
# 1) 카이제곱test를 수항하기 위한 라이브러리를 불러오세요. 
from scipy.stats import chi2_contingency

In [22]:
# Chi-Square Test

# 2) pd.crosstab을 사용하여 검정할 변수를 contingency_table에 넣어 주세요.
contingency_table = pd.crosstab(red_wine_data['quality'], red_wine_data['alcohol'])

# 3) 카이제곱 검정을 구현해서 chi2, p_value를 구하고 출력(print)하세요.
chi2, p_value, _, _ = chi2_contingency(contingency_table)

# 4) alpha라는 변수에 신뢰도 90%의 유의확률(p-value)을 지정하세요.
alpha = 0.1

# 5) 아래 문장을 완성하세요. 
if p_value < alpha:
    print("귀무가설 (기각). 통계적으로 유의미한 (차이)가 있다.")
else:
    print("귀무가설 (기각하지 못 한다). 통계적으로 유의미한 (차이)가 없다.")

귀무가설 (기각). 통계적으로 유의미한 (차이)가 있다.

# 4. 주어진 상황에 적합한 가설 검정 방법과 가설을 설정하고, 검정하세요.

In [24]:
# 1.레드 와인 회사에서는 보유한 와인의 fixed acidity가
# 기준 미달 수치(5)보다 통계적으로 유의미한 차이로 높다는 것을 확인하고자 합니다.

In [25]:
# one-sample t test

In [26]:
# 1) 검정할 변수를 지정하세요. 
variable_of_interest_red = red_wine_data['fixed acidity']

# One-Sample t-Test
# 2) alpha라는 변수에 신뢰도 95%의 유의수준을 지정하세요.
alpha = 0.05

null_hypothesis_mean = 5  # 귀무가설 평균
t_statistic, p_value = ttest_1samp(variable_of_interest_red, null_hypothesis_mean)

print("One-Sample t-Test for Red Wine:")
print("T-statistic:", t_statistic)
print("P-value:", p_value)

One-Sample t-Test for Red Wine:
T-statistic: 76.24161144799285
P-value: 0.0

In [27]:
# Degrees of freedom (df) for a one-sample t-test is (n - 1), where n is the sample size
df = len(variable_of_interest_red) - 1

# Find the critical value for a two-tailed test
critical_value = stats.t.ppf(1 - alpha/2, df)
print("Critical Value:", critical_value)

# 3) 아래 문장을 완성하세요. 
if p_value < alpha:
    print("귀무가설 (기각한다). 통계적으로 유의미한 (차이)가 있다.")
else:
    print("귀무가설 (기각할 수 없다). 통계적으로 유의미한 (차이)가 없다.")

Critical Value: 1.9614496156420809
귀무가설 (기각한다). 통계적으로 유의미한 (차이)가 있다.

# 5. 주어진 상황에 적합한 가설 검정 방법과 가설을 설정하고, 검정하세요.

In [53]:
import pandas as pd 
insurance_df = pd.read_csv(r'C:\Users\BIG3-02\Documents\archive\train.csv')
insurance_df.head().T

                              0         1          2         3         4
id                            1         2          3         4         5
Gender                     Male      Male       Male      Male    Female
Age                          44        76         47        21        29
Driving_License               1         1          1         1         1
Region_Code                28.0       3.0       28.0      11.0      41.0
Previously_Insured            0         0          0         1         1
Vehicle_Age           > 2 Years  1-2 Year  > 2 Years  < 1 Year  < 1 Year
Vehicle_Damage              Yes        No        Yes        No        No
Annual_Premium          40454.0   33536.0    38294.0   28619.0   27496.0
Policy_Sales_Channel       26.0      26.0       26.0     152.0     152.0
Vintage                     217       183         27       203        39
Response                      1         0          1         0         0

In [59]:
# 귀무가설 : 기존에 자동차 보험을 보유한 변수와 신규 자동차 보험에 대한
#            긍정적인 관심 여부에 연관성이 없다.
# 대립가설 : ~~ 연관성이 있다.

In [54]:
# 2) pd.crosstab을 사용하여 검정할 변수를 contingency_table에 넣어 주세요.
contingency_table = pd.crosstab(insurance_df['Previously_Insured'], insurance_df['Response'])

# 3) 카이제곱 검정을 구현해서 chi2, p_value를 구하고 출력(print)하세요.
chi2, p_value, _, _ = chi2_contingency(contingency_table)

# 4) alpha라는 변수에 신뢰도 90%의 유의확률(p-value)을 지정하세요.
alpha = 0.05

# 5) 아래 문장을 완성하세요. 
if p_value < alpha:
    print("귀무가설 (기각). 통계적으로 유의미한 (차이)가 있다.")
else:
    print("귀무가설 (기각하지 못 한다). 통계적으로 유의미한 (차이)가 없다.")

귀무가설 (기각). 통계적으로 유의미한 (차이)가 있다.

# 6. 주어진 상황에 적합한 가설 검정 방법과 가설을 설정하고, 검정하세요.

In [31]:
 import pandas as pd 
bank = pd.read_csv(r'C:\Users\BIG3-02\Downloads\bank+marketing\bank\bank.csv', sep=';')
bank.head().T

                    0          1           2           3            4
age                30         33          35          30           59
job        unemployed   services  management  management  blue-collar
marital       married    married      single     married      married
education     primary  secondary    tertiary    tertiary    secondary
default            no         no          no          no           no
balance          1787       4789        1350        1476            0
housing            no        yes         yes         yes          yes
loan               no        yes          no         yes           no
contact      cellular   cellular    cellular     unknown      unknown
day                19         11          16           3            5
month             oct        may         apr         jun          may
duration           79        220         185         199          226
campaign            1          1           1           4            1
pdays              -1        339         330          -1           -1
previous            0          4           1           0            0
poutcome      unknown    failure     failure     unknown      unknown
y                  no         no          no          no           no

In [60]:
# 카이스케어 검정
# 귀무가설 : 직업과 신용 뷸량간의 연관성이 없다.
# 대립가설 : ~~ 연관성이 있다.

In [36]:
# 2) pd.crosstab을 사용하여 검정할 변수를 contingency_table에 넣어 주세요.
contingency_table = pd.crosstab(bank['job'], bank['default'])

# 3) 카이제곱 검정을 구현해서 chi2, p_value를 구하고 출력(print)하세요.
chi2, p_value, _, _ = chi2_contingency(contingency_table)

# 4) alpha라는 변수에 신뢰도 90%의 유의확률(p-value)을 지정하세요.
alpha = 0.05

# 5) 아래 문장을 완성하세요. 
if p_value < alpha:
    print("귀무가설 (기각). 통계적으로 유의미한 (차이)가 있다.")
else:
    print("귀무가설 (기각하지 못 한다). 통계적으로 유의미한 (차이)가 없다.")

귀무가설 (기각하지 못 한다). 통계적으로 유의미한 (차이)가 없다.

# 7. 주어진 상황에 적합한 가설 검정 방법과 가설을 설정하고, 검정하세요.

In [37]:
# 투샘플 티테스트

In [41]:
# Two-Sample t-Test
# 2) 적합한 변수를 지정하세요. 
variable_of_interest_married = bank[bank['marital']=='married']['balance']
variable_of_interest_single = bank[bank['marital']=='single']['balance']

t_statistic, p_value = ttest_ind(variable_of_interest_red, variable_of_interest_white)
print("\nTwo-Sample t-Test:")
print("T-statistic:", t_statistic)
print("P-value:", p_value)

Two-Sample t-Test:
T-statistic: 318.686273733704
P-value: 0.0

In [42]:
alpha = 0.05

# Degrees of freedom (df) for a two-sample t-test is (n1 + n2 - 2), where n1 and n2 are the sample sizes of the two groups
df = len(variable_of_interest_married) + len(variable_of_interest_single) - 2

# Find the critical value for a two-tailed test
critical_value = stats.t.ppf(1 - alpha/2, df)
print("Critical Value:", critical_value)

# 4) 아래 문장을 완성하세요. 
if p_value < alpha:
    print("귀무가설 (기각한다). 통계적으로 유의미한 (차이)가 있다.")
else:
    print("귀무가설 (기각하지 못 한다). 통계적으로 유의미한 (차이)가 없다.")

Critical Value: 1.9605585670022625
귀무가설 (기각한다). 통계적으로 유의미한 (차이)가 있다.

In [61]:
# 귀무가설 : 결혼한 고객과 싱글인 고객그룹의 연평균 은행잔고 평균에 차이가 없다.
# 대립가설 : ~~ 차이가 있다.

In [43]:
# 결과 : P-value가 0.0으로 귀무가설을 기각한다. 즉, 
# A은행에서는 결혼한 고객과 싱글인 고객그룹의 연평균 은행잔고 차이가 있다.
# T-statistic: 318.686273733704 결과 아주 강한 양의 관계에 있다.